*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

h1{
    background-color: chartreuse;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    margin-top: 20px;

}
.navbar{
    background-color: chartreuse;
    display: flex;
}

.navbar-item::hover{
    background-color: rgb(22, 6, 6);
}